.link {
  color: $color-black;
  font-weight: 500;
  display: flex;
  font-size: $link-font-size;

  &.link-arrow {
    padding-block: 6px;

    .link-el {
      border-bottom: 2px solid currentColor;
      padding: 0 25px 5px 0;
      position: relative;

      &:after {
        content: url(/arrow-right.svg);
        position: absolute;
        top: 50%;
        right: 0;
        transform: translateY(-50%);
      }
    }
  }

  &.link-hover-anim {
    position: relative;
    overflow: hidden;

    .link-el {
      transition: transform $trs1 $transition-timing-function,
      opacity $trs1 $transition-timing-function;
      display: inline-block;
      overflow: hidden;

      &--invisible {
        position: absolute;
        top: 0;
        left: 0;
        opacity: 0;
        transform: translateY(150%) translateZ(0.001px) skewY(10deg);
      }
    }

    &:hover {
      .link-el--visible {
        opacity: 0;
        transform: translateY(-150%) translateZ(0.001px) skewY(-10deg);
      }
  
      .link-el--invisible {
        opacity: 1;
        transform: translateY(0) translateZ(0.001px) skewY(0);
      }
    }
  }


  &-video {
    position: relative;
    padding-inline-start: 20px;

    &:before {
      content: "";
      position: absolute;
      border-top: 8px solid transparent;
      border-bottom: 8px solid transparent;
      border-left: 8px solid;
      top: 50%;
      transform: translateY(-50%);
      left: 6px;
    }
  }
}
