.section-services {
  padding-block: 70px;

  @include media(up, $tablet) {
    padding-block: 120px;
  }

  &__inner {
    @include media(up, $tablet) {
      display: flex;
      gap: 30px;
    }
  }

  &__body {
    flex-basis: 50%;
  }

  &__title {
    margin-block-end: 30px;
  }

  &__entry {
    font-size: $text-font-size-2-mobile;
    margin-block-end: 30px;

    @include media(up, $tablet) {
      font-size: $text-font-size-2;
      max-width: 520px;
      margin-block-end: 50px;
    }
  }

  &__list {
    font-size: $h3-font-size-mobile;
    color: rgba($color-black, 0.27);
    font-weight: 500;
    line-height: 1.1;

    @include media(down, $tablet) {
      margin-block-end: 60px;
    }

    @include media(up, $tablet) {
      font-size: $h3-font-size;
    }

    &-number {
      font-size: $text-font-size;
      font-weight: 700;
      position: absolute;
      right: -25px;
      top: 0;
      opacity: 0;
      transition: opacity $trs ease;
    }

    li + li {
      margin-block-start: 7px;
    }

    a {
      transition: color $trs ease;
      position: relative;
      display: inline-block;

      &:hover {
        color: rgba($color-black, 0.5);
      }

      &:before {
        content: '';
        display: block;
        width: 100%;
        height: 2px;
        background-color: currentColor;
        position: absolute;
        bottom: 0;
        left: 0;
        transform: scaleX(0);
        transition: transform $trs ease;
        transform-origin: left;
      }

      &.active {
        color: $color-black;

        &:before {
          transform: scale(1);
        }

        .section-services__list-number {
          opacity: 1;
        }
      }
    }
  }

  &__service {
    flex-basis: 50%;
    position: relative;

    &-title {
      margin-bottom: 14px;
      color: $color-black;
      font-weight: 500;
      font-size: $h4-font-size;
    }

    &-text {
      padding: 30px;
      background-color: $color-seashell;

      @include media(down, $tablet-small) {
        margin-block-end: 10px;
      }

      @include media(up, $tablet-small) {
        padding: 50px;
        position: absolute;
        left: 0;
        bottom: 60px;
        max-width: 410px;
      }

      @include media(up, $tablet) {
        left: -136px;
      }

      @include media(down, $desktop-big) {
        bottom: 30px;
      }
    }

    &-media {
      @include media(up, $tablet-small) {
        margin-inline-start: auto;
        width: 60%;
      }

      @include media(up, $tablet) {
        width: 100%;
      }
    }
  }
}
