.section-boxes {
  background-color: rgba($color-black, 0.7);
  text-align: center;

  &__inner {
    @include media(up, $desktop) {
      padding-inline: 65px;
    }
  }

  &__box {
    @include media(up, $tablet) {
      max-width: 300px;
    }

    &-img {
      @include width-height(75px);
      margin-block-end: 20px;
      margin-inline: auto;

      img {
        @include image-size(contain);
      }
    }

    &-title {
      font-size: $text-font-size-2;
      margin-block-end: 5px;
    }

    &-entry {
      opacity: 0.75;
      font-size: $text-font-size;
    }
  }

  &.bg-image {
    background-image: url(/bg-image-2.png);

    &.dark-bg {
      &:before {
        background-color: rgba($color-black, 0.6);
      }
    }
  }

  .swiper {
    width: 90%;
    height: 100%;
    padding-bottom: 70px;

    @include media(up, $desktop) {
      width: 100%;
    }

    &-button-prev,
    &-button-next {
      color: rgba($color-white, 0.75);
    }

    &-pagination {
      &-bullet {
        border: 1px solid $color-white;

        &-active {
          background-color: $color-white;
        }
      }
    }
  }
}
